.main {
  width: 100%;
  display: grid;
  grid-template-columns: 4.6fr 1.4fr;
  height: 100vh;
  column-gap: 20px;
}
.main  h3{
    font-size: 24px;
    font-weight: 400;
}
.main .applicant-container .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.toastList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  overflow-y: auto;
  
}
/* .toastList::-webkit-scrollbar{
  width: 10px;
} */